/*  ========================================    *\
        Carousel Style Start From Here  
\*  ========================================    */
.carousel-indicators {
  height: 100px;
  justify-content: space-around !important;
}
.carousel-indicators button {
  padding-top: 5%;
  font-size: 60px;
  background-color: transparent !important;
  width: 120px !important;
  color: #14a42c;
  opacity: 0.6 !important;
  justify-content: center;
}
.carousel-indicators .active {
  color: red;
  opacity: 1 !important;
  background-color: #14a42c !important;
}
/* carousel-caption */
.carousel-caption {
  background-color: #3c54838a;
  /* #80808083 */
  bottom: 30% !important;
  animation: leftToRight 1.5s 1 ease-in;
  width: 40%;
  border-radius: 20px;
  height: 45%;
  margin: 0 auto;
}
@keyframes leftToRight {
  0% {
    left: -130%;
  }
  100% {
    left: 15%;
  }
}
.carousel-caption h5,
.carousel-caption p {
  animation: rightToLeft 2s 1 ease-in;
  /* animation-delay: 1s; */
  opacity: 1 !important;
  /* white-space: nowrap; */
}
.carousel-caption h5 {
  font-size: 40px;
  color: #31456d !important;
}
.carousel-caption p {
  font-size: 20px;
  padding: 10px;
  text-shadow: red 0px 0px 15px;
}
@keyframes rightToLeft {
  0% {
    margin-left: 100%;
    white-space: nowrap;
  }
  100% {
    margin-left: 0%;
    white-space: nowrap;
  }
}

/*  ===================================  *\
||      Carousel Style End Here          ||
||  -----------------------------------  ||
||        Welcome Style Start            ||
\*  ===================================  */
.welcome{
  background-color: #14a42c70;
}
.welcome img.deal{
  height: 500px;
}
.welcome img.signature{
  height: 50px;
}

/*  ===================================  *\
||      Welcome Style End Here          ||
||  -----------------------------------  ||
||        Support Style Start            ||
\*  ===================================  */

.support {
  min-height: 320px;
  background-image: url(../../img/office-bg.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: blur(8px); */
}
.support .container,
.support .make-dark,
.support .row {
  height: 100%;
}
.support .make-dark {
  width: 100%;
  background-color: #31456d88;
}
.support button {
  border: 2px solid transparent;
  background-color: rgba(0, 236, 0, 0.779);
  color: rgb(91, 0, 0);
  text-shadow: 0px 0px 14px black;
  font-weight: bold;
}
.support button:hover {
  border: 2px solid red;
  background-color: transparent;
}
.support .img-area {
  justify-content: center;
  display: flex;
}
.support .img-area img{
  height: 320px;
}
/*  ===================================  *\
||      Support Style End Here          ||
||  -----------------------------------  ||
||      Responsive Style Start           ||
\*  ===================================  */

@media only screen and (max-width: 1440px) {
  /*Tablets [601px -> 1200px]*/
  .carousel-indicators {
    height: 50px;
  }
  .carousel-indicators button {
    padding-top: 3%;
  }
}
@media only screen and (max-width: 1200px) {
  /*Tablets [601px -> 1200px]*/
  .carousel-indicators {
    height: 30px;
  }
  .carousel-indicators button {
    padding-top: 3%;
    font-size: 30px;
    background-color: transparent !important;
    width: 70px !important;
    color: #14a42c;
    opacity: 0.6 !important;
  }
}
@media only screen and (max-width: 600px) {
  .carousel-indicators {
    height: 10px;
  }
  .carousel-indicators button {
    font-size: 30px;
  }
}
