.carousel-indicators{
    height: 100px;    
    justify-content: space-around !important;
}
.carousel-indicators button{
    font-size: 100px;
    background-color: transparent !important;
    width: 120px !important;
    color: #14a42c;
    opacity: 0.6 !important;
}
.carousel-indicators .active{
    color: red;
    opacity: 1 !important;
    background-color: #14a42c !important;
}
@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
    .carousel-indicators{
        height: 50px;    
    }
    .carousel-indicators button{
        font-size: 50px;
        background-color: transparent !important;
        width: 70px !important;
        color: #14a42c;
        opacity: 0.6 !important;
    }
}